%h1 Client Profit Loss Report

- total_stakes   = 0
- total_returns  = 0
- total_clients  = 0
- total_bets     = 0

%table.table.table-bordered
  %tbody
    %tr
      %th Client
      %th Num of Bets
      %th Sports 
      %th Total Stakes
      %th Total Returns
      %th P/L
  - @client_presenters.each do |key, client_presenter|
    %tbody
      %tr
        %td= client_presenter.client_name
        %td.amount= client_presenter.num_of_bets
        %td.btn{:class => 'button', :id => 'button_sport', :onclick => "javascript:change()"} view
        %td.amount= client_presenter.total_stakes/100.0
        %td.amount= client_presenter.total_returns/100.0
        %td.amount= client_presenter.profit_loss/100.0
        - total_clients += 1
        - total_bets    += client_presenter.num_of_bets
        - total_stakes  += client_presenter.total_stakes
        - total_returns += client_presenter.total_returns
    
    - client_presenter.sport.each do |key, sport|
      %tbody
        %tr{:class => 'sport'}
          %td
          %td
          %td= sport.name
          %td.amount= sport.total_stakes/100.0
          %td.amount= sport.total_returns/100.0
          %td.amount= sport.profit_loss/100.0

  %tbody
    %tr
      %td= "Total Clients: #{total_clients}"
      %td= "Total Bets: #{total_bets}"
      %td.amount= "Total Stakes: #{total_stakes/100.0}"
      %td.amount= "Total Returns: #{total_returns/100.0}"
      %td.amount= "Total P/L: #{(total_returns - total_stakes)/100.0}"
