!!!
%html
  %head
    %title Fitzbucks
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .navbar-header
        %ul.nav.navbar-nav
          %li= link_to "Home", root_path
          %li= link_to "P/L By Client", new_profit_loss_client_path
    .container
      = yield
